In [1]:
import pandas as pd
import numpy as np
import os

In [10]:
path = './raw_data/'
file = os.listdir(path)
file_path = path + file[0]

headers = ['date', 'complete', 'open', 'high', 'low', 'close', 'volume']

my_dtypes = {
    'date': 'str',
    'complete': 'bool',
    'open': 'float',
    'high': 'float',
    'low': 'float',
    'close': 'float',
    'volume': 'float'
}

my_parse_dates = ['date']

df = pd.read_csv(file_path, names=headers, dtype=my_dtypes, parse_dates=my_parse_dates)

# dropping complete column
df.drop(columns='complete', axis=1, inplace=True)

# # re-arranging
df = df[['date', 'open', 'high', 'low', 'close', 'volume']]

In [11]:
df.head()

                 date     open     high      low    close  volume
0 2016-01-03 22:00:00  1.47352  1.47464  1.47351  1.47354  1068.0
1 2016-01-03 23:00:00  1.47343  1.47382  1.47266  1.47356   938.0
2 2016-01-04 00:00:00  1.47364  1.47412  1.47240  1.47278   570.0
3 2016-01-04 01:00:00  1.47284  1.47301  1.46936  1.47177  1133.0
4 2016-01-04 02:00:00  1.47183  1.47234  1.47041  1.47184   865.0